.about-company {
    width: 555px;
    font-size: 18px;
    font-weight: 300;
    line-height: 170%;
    margin-bottom: 20px;
}

.template-title.text-left {
    padding: 15px 0 5px;
}
.about-company_img {
    position: relative;
    margin-top: -132px;
    width: 100%;
}



