form.questions-form.col-lg-4 {
    width: 390px;
    height: 553px;
}

.questions-form {
background-color: #363A4D;
margin-left: -16px;
padding: 48px 40px;
max-width: 390px;
max-height: 570px;
border-radius: 20px;
}

.input-box {
    max-width: 310px;
}
