<!-- <section class="first-screen">
    <div class="first-screen-slider">
        <div class="container">
    <div class="first-screen-slider__title">Прямое КАРГО из Китая</div>
    <div class="first-screen-slider__subtitle">Доставляем любые грузы из Китая по честной цене</div>
        <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/arrow.svg" class="icon" alt="icon"></button> 
        </div>
        <div class="container">
            <div class="first-screen-slider__title">Прямое КАРГО из Китая</div>
            <div class="first-screen-slider__subtitle">Доставляем любые грузы из Китая по честной цене</div>
                <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/arrow.svg" class="icon" alt="icon"></button> 
        </div>
        <div class="container">
                    <div class="first-screen-slider__title">Прямое КАРГО из Китая</div>
                    <div class="first-screen-slider__subtitle">Доставляем любые грузы из Китая по честной цене</div>
                        <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/arrow.svg" class="icon" alt="icon"></button> 
        </div>
        <div class="container">
            <div class="first-screen-slider__title">Прямое КАРГО из Китая</div>
            <div class="first-screen-slider__subtitle">Доставляем любые грузы из Китая по честной цене</div>
                <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/arrow.svg" class="icon" alt="icon"></button> 
            </div>
    </div>
</section> -->
