<section class="questions">
    <div class="container">
        <div class="template-title">
            <h2>Часто задаваемые вопросы</h2>
        </div>
    <div class="row">
        <div class="col-lg-8">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Как рассчитывается стоимость доставки?
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"></div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Как рассчитывается стоимость доставки?
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"></div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Как рассчитывается стоимость доставки?
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"></div>
              </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headinFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    Можно ли через вас оплатить товар поставщику?
                </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body"></div>
                </div>
              </div>
          </div>
    </div>


        <form class="questions-form col-lg-4">
            <h3>Остались вопросы?</h3>
            <p>Оставьте заявку и наш менеджер ответит вам в ближайшее время</p>
            <div class="input-box">
                <label for="fname"></label>
                <input type="text" id="fname" name="Имя">
            </div>
            <div class="input-box"></label>
                <input type="tel" id="phone" name="телефон"required>
            </div>
            <div class="input-box">
                <label for></label>
                <input type="email" id="email"required>
            </div>
            <div class="input-box">
                <label for></label>
                <input type="question" id="Ваш вопрос"required>
            </div>
            <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/arrow.svg" class="icon" alt="icon"></button> 
        </form>
    </div>
</div>
</section>
